*.swp
*.mo
*.py[cod]
.DS_Store

__pycache__/
*.egg-info/
/pip-wheel-metadata/
/build/
/dist/

/config/supervisord.ini

/logs/*
!/logs/supervisord
/logs/supervisord/*
!/logs/supervisord/childs
/logs/supervisord/childs/*
!/logs/supervisord/childs/.gitkeep

/env/*
!/env/.gitkeep
